main {

    margin-right: 50px;
    margin-left:50px;
  }

  html {
    padding-bottom: 100px;
    margin-bottom: 60px;
  }

.title {

    color:darkred;
    font-weight: bold;
}

#coolfont {
  font-family: verdana;
  text-decoration: underline;
  text-decoration-thickness: 5px;
}

.footer {
  position: fixed;
  margin-top: 5px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: darkred;
  color: white;
  text-align: center;
  padding: 10px;
  
}

.boldnav {
  font-weight: bold;
}
/* Citation: https://www.w3schools.com/howto/howto_css_thumbnail.asp*/
img {
  border: 1px solid darkred; 
  border-radius: 4px;  
  padding: 5px; 
  width: 300px; 
}
/* Citation: https://www.w3schools.com/howto/howto_css_thumbnail.asp*/
img:hover {
  box-shadow: 0 0 2px 1px darkred (0, 140, 186, 0.5);
}
.linkcolor {
  color: darkred
}
button {
  text-align: center;
}
.background {
  background-color: gainsboro;
  border-radius: 5px;
}
/*tableCSS*/
th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
}

th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-ms-user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
}

th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
}

th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
}