<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
  <body>
    <!-- Navigation header -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="index.html">About Me</a>
              <a class="nav-link active boldnav" href="background.html">Favorite Books</a>
              <a class="nav-link active" href="future.html">Photography</a>
            </div>
          </div>
        </div>
      </nav>

      <!-- Container for entire page -->
 <main>
    <div class="container col-lg-9 col-md-9 col-sm-12 col-xs-12">

    <br>
    <!-- Title -->
    <h1 class="mx-auto title" style="width: 400px;">My Favorite Books</h1><br>



    <div id="SomeApp" class="container">
      
   
      <table id="taskTable" class="table table-bordered table-striped table-hover table-striped table-hover">
        <thead>
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year Published</th>
            <th>Publisher</th>
            <th>Page Count</th>
            <th>MSRP</th>
          </tr>
        </thead>
          <tbody>
            <div>
              <tr v-for="b in book">
                  <td>{{ b.title }}</td>
                  <td>{{ b.author }}</td>
                  <td>{{ b.years }}</td>
                  <td>{{ b.publisher }}</td>
                  <td>{{ b.pages }}</td>
                  <td>{{ b.msrp }}</td>
                  <td><button type="button" class="btn btn-secondary btn-sm">Edit</button></td>
                  <td><button type="button" class="btn btn-secondary btn-sm">Delete</button></td>
              </tr>
             </div>
          </tbody>
      </table>

    

      <!-- Title -->
      <h2 style="text-align:center">Add New Books Below:</h2><br>
      
      <!-- Form from bootstrap documentation -->
    <form v-on:submit.prevent="postNewBook">
      <div class="row">
          <div class="col">
            <input type="text" v-model="bookForm.title" class="form-control" placeholder="Book Title" id="title">
          </div>
          <div class="col">
            <input type="text" v-model="bookForm.author" class="form-control" placeholder="Author" id="author">
          </div>
    
        </div>
          <br>

        <div class="row">
          <div class="col">
            <input type="number" v-model="bookForm.years" class="form-control" placeholder="Year Published" id="years">
          </div>
          <div class="col">
            <input type="text" v-model="bookForm.publisher" class="form-control" placeholder="Publisher" id="publisher">
          </div>
        </div>
          <br>

        <div class="row">
          <div class="col">
            <input type="number" v-model="bookForm.pages" class="form-control" placeholder="Page Count" id="pages">
          </div>
          <div class="col">
            <input type="number" v-model="bookForm.msrp" class="form-control" placeholder="MSRP" id="msrp">
          </div>
        </div>

        <br>
        <div class="d-grid gap-2 d-md-block" align="center">
          <button class="btn btn-primary" type="submit">Add Book</button>
        </div>

    </form>
  </div>
</main>
    <br>
    <br>
    <br>

    <!-- Footer -->
    <div class="footer">
        <p>Thank you for visiting my page</p>
      </div>
      <!--Table sort plugin from http://tristen.ca/tablesort/demo/ -->
      <script src="js/tablesort.min.js"></script>
      
        
          <script>
        new Tablesort(document.getElementById('taskTable'));
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
  
 <!-- Vue.js -->
 <script src="https://unpkg.com/vue@next"></script>

<!-- Day JS -->
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="js/index.js"></script>
  
</body>
</html>
